.hero-produ {

    background-color: $main-color;
    width: 100%;
    padding: 20px;
    border: 0px;
    margin: 0px;

    &-content {

        @extend .d-flex;
        justify-content: center;
        padding: 40px;
        justify-items: center;
        overflow: hidden;

        p {
            font-size: 60px;
            color: $light-color;
            justify-content: center;
            font-family: 'bruno';
            font-weight: bolder;
        }
    }
}

.empezar {

    @extend .d-flex;
    justify-content: center;
    padding: 40px;
    justify-items: center;
    overflow: hidden;

    button {
        border: 0;
        background-image: linear-gradient(150deg,
                rgb(141, 45, 150), rgb(182, 87, 172), rgb(207, 102, 202));
        border-radius: 8px;
        color: white;
        display: flex;
        font-size: 30px;
        padding: 4px;
        cursor: pointer;
        transition: .3s;

        span {
            background-color: rgb(16, 15, 15);
            padding: 16px 24px;
            border-radius: 6px;
            transition: .3s;
        }

        &:hover span {
            background: none;
        }


        &:active {
            transform: scale(1.5);
        }
    }
}